<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    </div>
    <% if(userName === undefined || userName === ""){ %>
        <form action="/login" method="POST">
            <input type="text" name="username"> <button name="login" value="login">Sign In</button>
        </form>
    <% } else{ %>
        <form action="/logout" method="POST">
            <label for="userName"><%= userName %></label><button name="logout" type="submit" value="logout">Logout</button>
        </form>
    <% }%>
</nav>