  <h3>Register</h3>
    <form action="/register" method="POST">
    <label for="userid">User Name</label>
    <input type="text" name="userid" width="100px">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" width="100px">
    <br>
    <label for="email">Email</label>
    <input type="" name="email" width="100px">
    <br>
    <button name="register" type="submit">Register</button>
    <button name="cancel" type="submit" onclick="">Cancel</button>
  </form>