<!DOCTYPE html>
<html lang="en">
  <header>
  </header>
  <body style="font-size:20px; padding:50px;">
    <h2>Add a new URL</h2>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>