  <h3>Register</h3>
    <form action="/register" method="POST">
    <label for="email">Email</label>
    <input type="" name="email" id="email" width="100px">
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" >
    <br>
    <button name="register" type="submit">Register</button>
    <a href="/">Cancel</a>
  </form>