<nav>
	<% if(user){ %>
	<form action="/logout" method="POST">
		<label for="username"><%= user.username %></label>
		<button name="logout" type="submit" value="logout">Logout</button>
	</form>
	<% }else{ %>
		<a href="/login">Log In</a>
		<a href="/register">Sign Up</a>
	<% } %>
</nav>