<nav>
	<% if(email){ %>
	<form action="/logout" method="POST">
		<label for="email"><%= email %></label>
		<button name="logout" type="submit" value="logout">Logout</button>
	</form>
	<% }else{ %>
		<a href="/login">Log In</a>
		<a href="/register">Sign Up</a>
	<% } %>
</nav>