$background_color: #00a087;
$font_color: #e8fdff;
$nav_height: 80px;

nav{
  #nav-bar{
    background: $background_color; 
    color: $font_color;
    height: $nav_height;
    padding: 0 2em 0 2em;
    width: 100%;
    position: relative;
  .logo{
    height: nav_height;
    width: nav_height;
  }
  .header{
    font-size: 2em;
    height: nav_height;
    line-height: nav_height;
    padding: 0 10px;
    position: absolute;
  }
  button.compose{
    float: right;
    margin-top: 1.5em;
  }
  h2{
    border-bottom: 1px solid black;
  }
}
}