.container {
    width: 480px;
    margin: 0 auto 100px;
    padding: 3em 2em 1em;
    background: #FFFFFF;
    height: 540px;
    position: relative;
}

.counter{
    position: relative;
    float: right;
    margin: 10px 16px 0px 0px;
}

h2{
 font-size: 1.5em;   
}

input[type="submit"] {
    float: left;
}

.new-tweet {
    border-radius: 5px;
    background: #d6dbdf;
    position: relative;
    margin: 0 .5em 0 .5em;
    padding: .5em 1em .5em 1em;
    display: table;
    height: 140px;
}

.new-tweet h2 {
    border-bottom: 1px solid black;
    margin-top: 0;
}

.new-tweet > input {
    float: left;
    position: relative;
    margin: 10px 0px 16px 0px;
}

.new-tweet textarea{
    height: 3em;
    float: left;
    width: 100%;
}

.new-tweet textarea[placeholder]{
    padding: 0.3em;
    margin:0 0 0.5em 0;
}

.new-tweet textarea[placeholder]:after{
    clear: both;
}